* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.jogadores {
    max-width: 1100px;
    margin: 80px auto;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
}

.jogadores span {
    display: flex;
    align-items: center;
    font-size: 42px;
}

header {
    text-align: center;
    color: #fff;
    background-color: #62CFD6;
    padding: 20px 0;
}

.voce {
    background-color: #6BAAC5;
    padding: 20px;
}

.voce h2, .computador h2 {
    margin-top: 20px;
    margin-bottom: 30px;
}

#vitoria-usuario, #vitoria-computador {
    font-size: 32px;
}

.computador {
    background-color: #E15F5F;
    padding: 20px;
}

.computador, .voce {
    text-align: center;
    color: #fff;
    font-size: 32px;
}

.computador img {
    max-width: 400px;
    display: block;
    margin: 0 auto;
}

.vitorioso {
    max-width: 1100px;
    margin: 0px auto;
    background-color: #7DFB7A;
    text-align: center;
    font-size: 32px;
    padding: 20px 0px;
    height: 80px;
}

.escolha-usuario, .escolha-computador {
    color: rgb(82, 80, 80);
    font-weight: bold;
}

#pedra img, #papel img, #tesoura img {
    cursor: pointer;
}

#pedra img:hover, #papel img:hover, #tesoura img:hover {
    transform: scale(1.2);
    transition: .3s;
}

.informacao-jogo {
    max-width: 1100px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);;
}

.info-imagens {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.info-imagens div img {
    max-width: 70px;
    max-height: 70px;
    margin-bottom: 10px;
}

.descricao h2{
    margin-bottom: 20px;
}

.descricao {
    margin-left: 50px;
}